Peach.Stack.API/bin
Peach.Stack.API/obj
Peach.Stack.API/artifacts
Peach.Stack.App/dist
Peach.Stack.Database/bin
Peach.Stack.Database/obj
Peach.Stack.Database/artifacts
Peach.Stack.Dto/bin
Peach.Stack.Dto/obj
Peach.Stack.Dto/artifacts
Peach.Stack.Service/bin
Peach.Stack.Service/obj
Peach.Stack.Service/artifacts
Peach.Stack.Test/bin
Peach.Stack.Test/obj
Peach.Stack.Test/TestResults
package-lock.json
