.top-nav-brand-logo {
  height: 1.25rem;
  object-fit: contain;
  margin-bottom: 5px;
}


.brand-name {
  font-weight: 100;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
}

.top-nav-theme-toggle {
  margin-top: 0.5rem;
}

@media (min-width: 992px) {
  .top-nav-theme-toggle {
    margin-top: 0;
    margin-left: 0.6rem;
  }
}
